@page
@model BlockOut.Pages.Businesses.ViewScheduleModel
@{
    ViewData["Title"] = "Schedules for " + Model.Business?.Name;
}

<h2>Schedules for @Model.Business?.Name</h2>

@if (Model.Calendars != null && Model.Calendars.Any())
{
    <ul class="list-group">
        @foreach (var calendar in Model.Calendars)
        {
            <li class="list-group-item">
                <h5>@calendar.Name</h5>
                
            </li>
        }
    </ul>
}
else
{
    <p>No schedules are available for this business.</p>
}
